{% load markup %}
<h1>Blag actual article stub</h1>

<p>Use your own "blag/display.html"</p>
<p>Variable propagation: {{ article }}</p>

<dl>
    <dt>{{ article }}</dt>
    <dd>slug: {{ article.slug}}</dd>
    <dd>title: {{ article.title}}</dd>
    <dd>is_published: {{ article.is_published}}</dd>
    <dd>date_published: {{ article.date_published|date:"Y-b-d H:i"}}</dd>
    <dd>tags: {{ article.get_tags}}</dd>
</dl>

<h3>Markdowned summary</h3>
{{ article.summary|markdown}}
<h3>Markdowned content</h3>
{{ article.content|markdown}}
