<h1>Blag index stub</h1>

<p>Use your own "blag/index.html"</p>

<h1>Articles</h1>
<ol>
  {% for a in articles %}
  <li>
    <h3><a href="{{ a.get_absolute_url }}">{{ a }}</a></h3>
    <p>{{ a.summary }}</p>
  </li>
  {% endfor %}
</ol>

<h1>Categories</h1>
<ol>
  {% for c in categories %}
  <li>
    <h3><a href="{{ c.get_absolute_url }}">{{ c }}</a></h3>
    <p>{{ c.summary }}</p>
  </li>
  {% endfor %}
</ol>
